<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">
    <!--begin: Search -->
    <!-- <kt-search-dropdown [icon]="'./assets/media/icons/svg/General/Search.svg'" [useSVG]="true">
    </kt-search-dropdown> -->
    <!--end: Search -->
    <!--begin: Notifications -->
    <kt-notification [applicationId]="applicationId" [bgImage]="'./assets/media/misc/bg-1.jpg'" [pulse]="true" [skin]="'dark'" [icon]="'./assets/media/icons/svg/Code/Compiling.svg'" [useSVG]="true"></kt-notification>
    <!--end: Notifications -->
    <!--begin: Quick actions -->
    <!-- <kt-quick-action [bgImage]="'./assets/media/misc/bg-2.jpg'" [skin]="'dark'" [icon]="'./assets/media/icons/svg/Media/Equalizer.svg'" [useSVG]="true"></kt-quick-action> -->
    <!--end: Quick actions -->
    <!--begin: My Cart -->
    <!-- <kt-cart [bgImage]="'./assets/media/misc/bg-1.jpg'" [icon]="'./assets/media/icons/svg/Shopping/Cart%233.svg'" [useSVG]="true"></kt-cart> -->
    <!--end: My Cart -->
    <!--begin: Quick panel toggler -->
    <div class="kt-header__topbar-item kt-header__topbar-item--quick-panel" data-placement="bottom" ngbTooltip="Application Setting">
        <span class="kt-header__topbar-icon" style="background-color:rgba(77,89,149,0.06) " id="kt_quick_panel_toggler_btn">
			<img  class="kt-svg-icon" src="./assets/media/users/default.jpg">
        </span>
    </div>
    <!--end: Quick panel toggler -->
    <!--begin: Language bar -->
    <!-- <kt-language-selector></kt-language-selector> -->
    <!--end: Language bar -->
    <!--begin: User bar -->

    <!-- <form class="kt-form">
        <div class="kt-portlet__body">


            <select class="form-control" id="exampleSelectd">
						<option>Default Application</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
			</select>
        </div>

    </form> -->


    <!-- <kt-user-profile></kt-user-profile> -->
    <!--end: User bar -->
</div>
<!-- end:: Header Topbar -->