<div class="kt-portlet__body">

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                                                    <i class="kt-font-brand flaticon-search-magnifier-interface-symbol"></i>
                                                </span>
                <h3 class="kt-portlet__head-title">
                    Filters
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
            </div>
        </div>
        <div class="kt-portlet__body">

            <!--begin::Form-->
            <form class="kt-form">
                <div class="form-group">
                    <label>Integration</label>
                    <div class="kt-checkbox-list">
                        <label class="kt-checkbox">
                                                <input type="checkbox"> Name
                                                <span></span>
                                            </label>
                        <div class="col-xl-12">
                            <!-- <kt-string-dropdown></kt-string-dropdown> -->
                        </div>
                        <label class="kt-checkbox">
                                                <input type="checkbox"> Email
                                                <span></span>
                                            </label>
                        <label class="kt-checkbox ">
                                                <input type="checkbox" > Locaton
                                                <span></span>
                                            </label>
                        <div class="col-xl-12">
                            <div class="row">
                                <!-- <kt-string-dropdown></kt-string-dropdown> -->
                            </div>
                        </div>
                        <label class="kt-checkbox ">
                                                <input type="checkbox"> Event
                                                <span></span>
                                            </label>

                    </div>

                </div>

            </form>

            <!--end::Form-->
        </div>
    </div>


</div>